<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    <link rel="preload" href="css/admin.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/admin.css?v=1"> <!-- El ?v=1 es para evitar caché -->
   
    <header id="H" class="header">
        <div class="menu container">
            <a href="#H" class="logo">
                <img src="images/CAG-Logo.webp?v=1" alt="">
            </a>
            <input type="checkbox" id="menu"/>
            <label for="menu">
                <img src="images/menu.webp?v=1" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#N">Nosotros</a></li>
                    <li><a href="#M">Psicopedagógico</a></li>
                    <li><a href="#I">Personal</a></li>
                </ul>
        </div>
    </header>

    <section class="nosotros">
        <div id="N"></div>
        <div class="nosotros-content container">
            <h1>Parte Verde Contactos:</h1>

            <!-- Este es para el título -->
            <form class="ftxt" onsubmit="return actualizar(this, event)">
              <input type="hidden" name="clave" value="C_t1">
              <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t1 %></textarea>
              <button class="UD" type="submit">Actualizar</button>
              <span class="mensaje">
                <span class="texto-mensaje"></span>
                <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
              </span>
            </form>

            <!-- Este es para el párrafo -->
            <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_p1">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p1 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

            <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_p2">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p2 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
        </div>

    </section>

    
    <main class="mision">
        <div id="M"></div>
        <div class="txt">
          <h1>Parte Rosa Contactos:</h1>
            <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t2">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t2 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
            
            <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_p3">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p3 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
            </div>

        <div class="mision-content container">         
            <div class="info">

              <!-- Este es para la imágen -->
                <form class="fi" onsubmit="subirImagen(this, event)" enctype="multipart/form-data">
      <input type="hidden" name="clave" value="C_i1">
    
      <div class="preview-container">
        <img src="<%= contenido.C_i1 %>?v=2" alt="Imagen actual" class="preview-img" id="preview-C_i1">
      </div>
    
      <div class="input-container">
    <input type="file" name="imagen" id="BI" accept="image/*" onchange="mostrarPreview(this, 'preview-C_i1'); habilitarBoton(this); actualizarTextoArchivo(this)">
    <label for="BI">Seleccionar Imagen</label>
    <span id="nombre-archivo" class="archivo-texto">No hay archivo nuevo</span>
    <button type="submit" class="UDI" disabled>Actualizar imagen</button>
</div>
    
      <span class="mensaje" style="display:none">
        <span class="texto-mensaje"></span>
        <button type="button" class="cerrar-mensaje" onclick="this.parentElement.style.display='none'">✖</button>
      </span>
    </form>
                
                <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t3">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t3 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

                <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_p4">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p4 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
            </div>


            <div class="info">
                <form class="fi" onsubmit="subirImagen(this, event)" enctype="multipart/form-data">
      <input type="hidden" name="clave" value="C_i2">
    
      <div class="preview-container">
        <img src="<%= contenido.C_i2 %>?v=2" alt="Imagen actual" class="preview-img" id="preview-C_i2">
      </div>
    
      <div class="input-container">
    <input type="file" name="imagen" id="BI" accept="image/*" onchange="mostrarPreview(this, 'preview-C_i2'); habilitarBoton(this); actualizarTextoArchivo(this)">
    <label for="BI">Seleccionar Imagen</label>
    <span id="nombre-archivo" class="archivo-texto">No hay archivo nuevo</span>
    <button type="submit" class="UDI" disabled>Actualizar imagen</button>
</div>
    
      <span class="mensaje" style="display:none">
        <span class="texto-mensaje"></span>
        <button type="button" class="cerrar-mensaje" onclick="this.parentElement.style.display='none'">✖</button>
      </span>
    </form>

                <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t4">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t4 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

                <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_p5">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p5 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
                </div>

                <div class="info">
                    <form class="fi" onsubmit="subirImagen(this, event)" enctype="multipart/form-data">
      <input type="hidden" name="clave" value="C_i3">
    
      <div class="preview-container">
        <img src="<%= contenido.C_i3 %>?v=2" alt="Imagen actual" class="preview-img" id="preview-C_i3">
      </div>
    
      <div class="input-container">
    <input type="file" name="imagen" id="BI" accept="image/*" onchange="mostrarPreview(this, 'preview-C_i3'); habilitarBoton(this); actualizarTextoArchivo(this)">
    <label for="BI">Seleccionar Imagen</label>
    <span id="nombre-archivo" class="archivo-texto">No hay archivo nuevo</span>
    <button type="submit" class="UDI" disabled>Actualizar imagen</button>
</div>
    
      <span class="mensaje" style="display:none">
        <span class="texto-mensaje"></span>
        <button type="button" class="cerrar-mensaje" onclick="this.parentElement.style.display='none'">✖</button>
      </span>
    </form>

                <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t5">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t5 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

                <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_p6">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p6 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
                </div>

                <div class="info">
                    <form class="fi" onsubmit="subirImagen(this, event)" enctype="multipart/form-data">
      <input type="hidden" name="clave" value="C_i4">
    
      <div class="preview-container">
        <img src="<%= contenido.C_i4 %>?v=2" alt="Imagen actual" class="preview-img" id="preview-C_i4">
      </div>
    
      <div class="input-container">
    <input type="file" name="imagen" id="BI" accept="image/*" onchange="mostrarPreview(this, 'preview-C_i4'); habilitarBoton(this); actualizarTextoArchivo(this)">
    <label for="BI">Seleccionar Imagen</label>
    <span id="nombre-archivo" class="archivo-texto">No hay archivo nuevo</span>
    <button type="submit" class="UDI" disabled>Actualizar imagen</button>
</div>
    
      <span class="mensaje" style="display:none">
        <span class="texto-mensaje"></span>
        <button type="button" class="cerrar-mensaje" onclick="this.parentElement.style.display='none'">✖</button>
      </span>
    </form>

                    <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t6">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t6 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

                    <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_p7">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p7 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
                    </div>

                    <div class="info">
                        <form class="fi" onsubmit="subirImagen(this, event)" enctype="multipart/form-data">
      <input type="hidden" name="clave" value="C_i5">
    
      <div class="preview-container">
        <img src="<%= contenido.C_i5 %>?v=2" alt="Imagen actual" class="preview-img" id="preview-C_i5">
      </div>

      <div class="input-container">
    <input type="file" name="imagen" id="BI" accept="image/*" onchange="mostrarPreview(this, 'preview-C_i5'); habilitarBoton(this); actualizarTextoArchivo(this)">
    <label for="BI">Seleccionar Imagen</label>
    <span id="nombre-archivo" class="archivo-texto">No hay archivo nuevo</span>
    <button type="submit" class="UDI" disabled>Actualizar imagen</button>
</div>
    
      <span class="mensaje" style="display:none">
        <span class="texto-mensaje"></span>
        <button type="button" class="cerrar-mensaje" onclick="this.parentElement.style.display='none'">✖</button>
      </span>
    </form>

                        <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t7">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t7 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

                        <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_p8">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p8 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
                        </div>

                        <div class="info">
                <form class="fi" onsubmit="subirImagen(this, event)" enctype="multipart/form-data">
      <input type="hidden" name="clave" value="C_i6">
    
      <div class="preview-container">
        <img src="<%= contenido.C_i6 %>?v=2" alt="Imagen actual" class="preview-img" id="preview-C_i6">
      </div>
    
      <div class="input-container">
    <input type="file" name="imagen" id="BI" accept="image/*" onchange="mostrarPreview(this, 'preview-C_i6'); habilitarBoton(this); actualizarTextoArchivo(this)">
    <label for="BI">Seleccionar Imagen</label>
    <span id="nombre-archivo" class="archivo-texto">No hay archivo nuevo</span>
    <button type="submit" class="UDI" disabled>Actualizar imagen</button>
</div>
    
      <span class="mensaje" style="display:none">
        <span class="texto-mensaje"></span>
        <button type="button" class="cerrar-mensaje" onclick="this.parentElement.style.display='none'">✖</button>
      </span>
    </form>

                <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t8">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t8 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

                <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_p9">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p9 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
                </div>

            </div>
        </main>
        <section class="integrantes">
            <div id="I"></div>
            <h1>Parte Gris Contactos:</h1>

            <div class="container">
              <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t9">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t9 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
            </div>

            <div class="integrantes-content container">
                <div class="ale info-1">
                    <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t10">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t10 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

                    <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t11">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t11 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

                    <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_p10">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p10 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
                </div>

                <div class="karla info-1">
                    <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t12">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t12 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

                    <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t13">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t13 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

                    <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_p11">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p11 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>
                </div>
            </div>
        </section>

        <section class="concurso">
          <div class="concurso-content container">
            <h1>Parte Concurso de Becas:</h1>

            <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t14">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t14 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
</span>
            </form>

            <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t15">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t15 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
  <span class="texto-mensaje"></span>
  <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
  </span>
            </form>
            <form class="ftxt" onsubmit="return actualizar(this, event)">
                <input type="hidden" name="clave" value="C_t16">
                <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t16 %></textarea>
                <button class="UD" type="submit">Actualizar</button>
                <span class="mensaje">
    <span class="texto-mensaje"></span>
    <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
    </span>
            </form>
            <form class="ftxt" onsubmit="return actualizar(this, event)">
               <input type="hidden" name="clave" value="C_t17">
               <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t17 %></textarea>
               <button class="UD" type="submit">Actualizar</button>
               <span class="mensaje">
    <span class="texto-mensaje"></span>
    <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
    </span>
           </form>
            <form class="ftxt" onsubmit="return actualizar(this, event)">
               <input type="hidden" name="clave" value="c_p12">
               <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_p12 %></textarea>
               <button class="UD" type="submit">Actualizar</button>
               <span class="mensaje">
    <span class="texto-mensaje"></span>
    <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
    </span>
           </form>
          </div>
        </section>

        <section class="contempla">
          <div class="contempla-content container">
            <h1>Parte Contempla los Subpasos:</h1>
            <form class="ftxt" onsubmit="return actualizar(this, event)">
                           <input type="hidden" name="clave" value="C_t18">
                           <textarea name="valor" oninput="ajustarAltura(this)"><%= contenido.C_t18 %></textarea>
                           <button class="UD" type="submit">Actualizar</button>
                           <span class="mensaje">
             <span class="texto-mensaje"></span>
             <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">×</button>
           </span>
                       </form>
          </div>
        </section >

        <section class="considera">
          <div id="I"></div>
          <div class="considera-content container">
            <h1>Parte Considera al Momento:</h1>
          </div>

          <div>

          </div>

        </section>


        <section>

          <div>

          </div>

        </section>

        <!-- Esta parte es para el link-->
        <section class="link">
          <div class="link-content container">
            <h1>Link para el formulario:</h1>

<form class="fl" onsubmit="actualizar(this, event)">
  <input type="hidden" name="clave" value="C_l1">

  <input class="AL"
    type="text"
    name="valor"
    placeholder="Aquí va el nuevo link"
    value="<%= contenido.C_l1 %>"
    oninput="habilitarBoton(this)"
  >

  <button type="submit" id="boton-l1" class="UL" disabled>Actualizar link</button>

  <span class="mensaje" style="display: none;">
    <span class="texto-mensaje"></span>
    <button type="button" class="cerrar-mensaje" onclick="cerrarMensaje(this)">✖</button>
  </span>
</form>

          </div>
        </section>

        <section>

        </section>

        <%- include('partials/footer') %>
    </body>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('textarea').forEach(ajustarAltura);
  });

async function actualizar(formulario, event) {
  event.preventDefault();

  const clave = formulario.querySelector('[name="clave"]').value;
  const valor = formulario.querySelector('[name="valor"]').value;
  const mensaje = formulario.querySelector('.mensaje');
  const textoMensaje = mensaje.querySelector('.texto-mensaje');

  try {
    const respuesta = await fetch('/admin/actualizar', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ clave, valor })
    });

    const texto = await respuesta.text();

    textoMensaje.textContent = texto;
    mensaje.style.color = respuesta.ok ? 'green' : 'red';
    mensaje.style.display = 'inline-flex';  // aparece la cruz y el texto

  } catch (err) {
    textoMensaje.textContent = 'Error al actualizar';
    mensaje.style.color = 'red';
    mensaje.style.display = 'inline-flex';
  }
}

function cerrarMensaje(boton) {
  const mensaje = boton.parentElement;
  const textoMensaje = mensaje.querySelector('.texto-mensaje');
  textoMensaje.textContent = '';
  mensaje.style.display = 'none';
}

function ajustarAltura(textarea) {
    textarea.style.height = 'auto'; // Reinicia altura
    textarea.style.height = textarea.scrollHeight + 'px'; // Ajusta a contenido
  }

function mostrarPreview(input, idPreview) {
    const file = input.files[0];
    const preview = document.getElementById(idPreview);
    if (file) {
      const reader = new FileReader();
      reader.onload = e => {
        preview.src = e.target.result;
      };
      reader.readAsDataURL(file);
    }
  }
async function subirImagen(formulario, event) {
  event.preventDefault();

  const formData = new FormData(formulario);
  const mensaje = formulario.querySelector('.mensaje');
  const textoMensaje = mensaje.querySelector('.texto-mensaje');

  try {
    const respuesta = await fetch('/admin/subir-imagen', {
      method: 'POST',
      body: formData
    });

    const texto = await respuesta.text();

    textoMensaje.textContent = texto;
    mensaje.style.color = respuesta.ok ? 'green' : 'red';
    mensaje.style.display = 'inline-flex';
  } catch (err) {
    textoMensaje.textContent = 'Error al subir imagen';
    mensaje.style.color = 'red';
    mensaje.style.display = 'inline-flex';
  }
}
function habilitarBoton(input) {
  const boton = input.closest('form').querySelector('button');
  boton.disabled = !input.value.trim();
}
function actualizarTextoArchivo(input) {
    const nombreArchivo = document.getElementById('nombre-archivo');
    nombreArchivo.textContent = input.files.length ? input.files[0].name : "No file chosen";
}
</script>
    </html>