<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    <link rel="preload" href="css/contactos.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/contactos.css?v=1"> <!-- El ?v=1 es para evitar caché -->
   
    <header id="H" class="header">
        <div class="menu container">
            <a href="#H" class="logo">
                <img src="images/CAG-Logo.webp?v=1" alt="">
            </a>
            <input type="checkbox" id="menu"/>
            <label for="menu">
                <img src="images/menu.webp?v=1" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#H">Inicio</a></li>
                    <li><a href="#N">Nosotros</a></li>
                    <li><a href="#M">Psicopedagógico</a></li>
                    <li><a href="#I">Personal</a></li>
                    <li><a href="/g">BECAS-2025</a></li>
                </ul>
        </div>
    </header>

    <section class="nosotros">
        <div id="N"></div>
        <div class="nosotros-content container">
            <h2><%= contenido.C_t1 %></h2>
            <h3 class="h3n"><%= contenido.C_p1 %></h3>
            <p class="pn"><%= contenido.C_p2 %></p>
        </div>
    </section>

    
    <main class="mision">
        <div id="M"></div>
        <div class="txt">
            <h2><%= contenido.C_t2 %></h2>
            <p><%= contenido.C_p3 %></p>
            </div>
        <div class="mision-content container">
            <div class="info">
                <img src="<%= contenido.C_i1 %>" alt="Imágen">
                <h3><%= contenido.C_t3 %></h3>
                <p><%= contenido.C_p4 %></p>
            </div>

            <div class="info">
                <img src="images/2.png?v=1" alt="Imágen">
                <h3>Acompañamiento Académico</h3>
                <p>Si consideras que tus calificaciones pueden mejorar o
                    quieres saber cómo aprender más rápido las cosas acércate
                    a nosotros.</p>
                </div>

                <div class="info">
                    <img src="images/3.png?v=1" alt="Imágen">
                <h3>Orientación Vocacional</h3>
                <p>Actualmente el mundo profesional ofrece una inmensa
                    variedad de carreras. Nosotras aplicamos pruebas y
                    por medio de entrevistas y ejercicios podemos ayudarte
                    a elegir.</p>
                </div>

                <div class="info">
                    <img src="images/4.png?v=1" alt="Imágen">
                    <h3>Exámenes de Admisión</h3>
                    <p>Como parte de nuestra función administrativa aplicamos
                        batería de pruebas para valorar el nivel de conocimientos
                        de cada aspirante y ver si cumple con los requisitos para
                        ser alumno del Colegio.</p>
                    </div>

                    <div class="info">
                        <img src="images/5.png?v=1" alt="Imágen">
                        <h3>Observaciones de Clase</h3>
                        <p>Durante el ciclo académico, observamos clases de sus
                            profesores y en base a una rúbrica hacemos sugerencias
                            al docente para que tengas una educación de calidad.</p>
                        </div>

                        <div class="info">
                <img src="images/6.png?v=1" alt="Imágen">
                <h3>Escuela para Padres</h3>
                <p>Organizamos un plan de conferencias en el año para que los
                    padres de familia tengan recursos y puedan educar a sus
                    hijos de manera cariñosa.</p>
                </div>
                
            </div>
        </main>
        <section class="integrantes">
            <div id="I"></div>
            <h2>Integrantes del Equipo Preparatoria</h2>
            <div class="integrantes-content container">
                <div class="ale info-1">
                    <h3>Mtra. Alejandra Ibañez</h3>
                    <h4>Coordinadora del Departamento Psicopedagógico</h4>
                    <p>• Maestría en psicopedagogía por la Universidad de la Rioja.<br>
                        • Licenciada en psicología por la UNIVA.<br>
                        • Diplomado en terapia breve basada en soluciones.<br>
                        • Experiencia en área laboral, clínica y educativa.<br>
                        • Facilitadora en pláticas y talleres de desarrollo humano.</p>
                </div>
                <div class="karla info-1">
                    <h3>Lic. Karla Ortega</h3>
                    <h4>Sección Preparatoria</h4>
                    <p>• Licenciada en pedagogía por la Universidad del Valle de México.<br>
                        • Diplomado en competencias para docentes de educación media superior y superior.<br>
                        • Diplomado en la creación de educación positiva y de vanguardia.<br>
                        • Certificación en la aplicación de la metodología básica de investigación en el ámbito educativo.</p>
                </div>
            </div>
        </section>
        <%- include('partials/footer') %>
    </body>
    </html>