<%- include('partials/header', {tituloWeb: 'Psicopedagógico'}) %>
<body>
    
    <link rel="preload" href="css/general.css" as="style"> <!-- precargar plantillas -->
    <link rel="stylesheet" href="/css/general.css?v=1"> <!-- El ?v=1 es para evitar caché -->
   
    <header id="H" class="header">
        <div class="menu container">
            <a href="#H" class="logo">
                <img src="images/CAG-Logo.webp?v=1" alt="">
            </a>
            <input type="checkbox" id="menu"/>
            <label for="menu">
                <img src="images/menu.webp?v=1" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#H">Convenios</a></li>
                    <li><a href="#N">Solicitud</a></li>
                    <li><a href="#A">Becas</a></li>
                    <li><a class="C" href="/c">Contactos</a></li>
                </ul>
        </div>
        <div class="container">
           

                <h1><%= contenido.C_t14 %></h1>
            </div>
           
    </header>

    <div class="m e" id="t" >

        <h2 ><%= contenido.C_t15 %></h2>
    </div>


    <section class="nosotros">
        <div id="N"></div>
        <div class="nosotros-content container">
            <h2><%= contenido.C_t16 %></h2>
            <h3 class="h3n"> <%= contenido.C_t17 %></h3>
            <p class="pn"><%= contenido.C_p12 %>
            </p>
        </div>
    </section>

    <section class="integrantes">
        <div id="I"></div>
        <h2><%= contenido.C_t18 %></h2>
        <div class="integrantes-content container">
            <div class="ale info-1">
                <img src="images/3.png" alt="Ale">
                <h3>1.solicita tu kardex</h3>
               
                <p> 1.como solo se puede
            postularse para una beca por parte del colegio,
            revisa todos los convenios que tenemos con las
            distintas universidades y elige la que mas te convezca
           <br><br>
            2.dirigete con la secretaria nancy de preparatoria,
            paga el costo y solicita tu kardex 
            <br><br>
            3.Recuerda que tarda 3 dias en estar listo. no se necesita
            impreso sino que lo enviaras digital</p>
            </div>
            <div class="karla info-1">
                <img src="images/4.png" alt="Karla">
                <h3>¿Que debe de tener?</h3>
                <p>
         1. Dirigida al Padre Director:
    
        
            Padre Carlos Alberto Montoya Manzo,
Director de los Colegios Salesianos de
Guadalajara.
<br><br>
        
        
           2. Tu nombre completo:
    
        
            Escribirlo tal cual está en tu acta de
            nacimiento.
        <br><br>
        
          3. Promedio que tienes actualmente en
            el Kárdex:            
        
        
            Copia el promedio que tienes del Kárde.
            en el cual vienen promediados los 5
            semestres que has cursado hasta el
            momento oficialmente
            
        <br><br>
        
           4. Nombre de la Universidad y
            Carrera a la que aplicarás:
            
        
        
            Copia el nombre completo de la
            universidad, sus siglas (en caso de
            tenerlas) y el nombre textual de la
            carrera a la que buscas aplicar.

            <br><br>

            5. Firma propia

        

        </p>
        </div>
    </section>

    <main class="mision">
        <div id="M"></div>
        <div class="txt">
            <h2>Considera al mometo de solicitar la beca</h2>
            <p>1. Las becas se pueden perder si bajas el promedio
            o te queda un extraordinario durante la carrera.
        <br><br>
    2. Revisa la letra chiquita de tu universidad.
<br><br>
3. En caso de no aceptar la beca informar para reasignar.
<br><br>
4.</p>
        </div>
        <div class="mision-content container">
            <div class="info">
                <img src="images/16.png?v=1" alt="Imágen">
                <h3>Motivos de estudiar la carrera
       </h3>
                <p>Escuchamos y aconsejamos a todos aquellos que se acercan a
                    nosotros ya sea por dudas en su toma de decisiones,
                    conflictos internos y hasta alegrías por sus logros.
                    La idea es verte crecer.</p>
            </div>
            <div class="info">
                <img src="images/9.png?v=1" alt="Imágen">
                <h3>Menciona tus actividades extra-academica</h3>
                <p>si participas en algun grupo de formacion, haces algun voluntariado,
      practicas deporte o realizas alguna actividad artistica-cultural que beneficie
      a la sociedad, describelo dentre de las cartas.</p>
            </div>
            <div class="info">
                <img src="images/3.png?v=1" alt="Imágen">
                <h3>motivos por los que mereces la beca</h3>
                <p>aplica tu creatividad para mencionar por que deberias ser beneficiado con la beca.</p>
            </div>
            <div class="info">
                <img src="images/4.png?v=1" alt="Imágen">
                <h3>Buena ortografia y redaccion</h3>
                <p>Revisa tu ortografia, la acentuacion y la buena redaccion; si es necesario pide la revision de tu carta
         a alguien que te pueda asesorar. Recuerda, tu redaccion debe ser de tipo formal tambien como poner tipografia Arial 12 y
         interlineado 1.5.</p>
            </div>
            <div class="info">
                <img src="images/2.png?v=1" alt="Imágen">
                <h3>Maximo 2 cuartillas</h3>
                <p>Tu carta no puede ser mayor a mas de dos cuartillas de extension, se concreto y creativo.</p>
            </div>
            <div class="info">
                <img src="images/12.png?v=1" alt="Imágen">
                <h3>Contestar formulario</h3>
                <p>Como paso final, tendras que llenar el formulario
        y adjuntar en el espacio correspondiente tu
        Kardex y tu carta firmada previamente escaneada.</p>
            </div>
        </div>
    <!--
    <section  class="textos">
    <div class="textos2" >
       
        
        <h3 class="font t" id="N">
            Para poder obtener una beca a tu
        universidad de preferencia presta
        mucha atención a los pasos que a
        continuación se presentan
        </h3>
        
    </div>
    <div class="textos3"  >
        <img class="u" src="images/1.png" alt="">
   </div >
</section>
<section class="textos">
    <div class="textos4"  >
         <img class="u" src="images/2.png" alt="">
    </div>
    <div class="textos2">
        <h3 class="t">
            El concurso consta de enviar, en
            tiempo y forma, (mediante un
            formulario) una carta al Padre
            Director solicitando la beca con
            varios puntos específicos
        </h3>
</div>

</section>
<section class="textos">
    <div class="textos2">
        <h3 class="d t">
            Es muy importante que contemples los subpasos del proceso
        </h3>
    </div>
    <div class="textos3">
        <img class="u" src="images/3.png" alt="">
    </div>
</section>
<section class="textos">
    <div class="textos4">
        <img class="u" src="images/7.png" alt="">
        <img class="u" src="images/4.png" alt="">
    </div>
    <div class="textos2">
        <h2 class="y">
            1.solicita tu kardex
        </h2>
        <br>
        <h3>
           1.como solo se puede
            postularse para una beca por parte del colegio,
            revisa todos los convenios que tenemos con las
            distintas universidades y elige la que mas te convezca
           <br><br>
           son dos saltos de linea
            2.dirigete con la secretaria nancy de preparatoria,
            paga el costo y solicita tu kardex 
            <br><br>
            3.Recuerda que tarda 3 dias en estar listo. no se necesita
            impreso sino que lo enviaras digital
        </h3>
</div>

</section>
<section class="textos">
    <div class="textos2">
        <h2 class="y">
             2.redaccion de carta
        </h2>
        <br>
        <h3>
           Parte importante del proceso es la redaccion de la carta para solicitar la beca;
           en ella reflejaras tu creatividad y profesionalismo y con ella concursaras para la beca.

        </h3>
    </div>
    <div class="textos3">
        <img class="u" src="images/8.png" alt="">
    </div>
</section>
<section class="textos">
    <div class="textos4 d">
        <h2 class="tamaÑo">
            2.1 ¿Que debe de tener la carta?
           
            
            <img src="images/9.png" alt="">
        </h2>
    </div>
    <div class="textos2">
        <h2 >
            Dirigida al Padre Director
        </h2>
        <p>
            Padre Carlos Alberto Montoya Manzo,
Director de los Colegios Salesianos de
Guadalajara.

        </p>
        <h2>
            Tu nombre completo
        </h2>
        <p>
            Escribirlo tal cual está en tu acta de
            nacimiento.
        </p>
        <h2>
            Promedio que tienes actualmente en
            el Kárdex            
        </h2>
        <p>
            Copia el promedio que tienes del Kárde.
            en el cual vienen promediados los 5
            semestres que has cursado hasta el
            momento oficialmente
            
        </p>
        <h2>
            Nombre de la Universidad y
            Carrera a la que aplicarás
            
        </h2>
        <p>
            Copia el nombre completo de la
            universidad, sus siglas (en caso de
            tenerlas) y el nombre textual de la
            carrera a la que buscas aplicar.
        </p>
</div>

</section>
<section class="textos">
    <div class="textos2">
        <h2>
             Motivos de estudiar la carrera
        </h2>
        <p>
           Dentro del cuerpo de la carta, describe los Motivos
           por los que deseas estudiar esa carrera en especifico
           y el por que de elegirla en esa universidad
        </p>
        <h2>
            Menciona tus actividades extra-academicas
       </h2>
       <p>
      si participas en algun grupo de formacion, haces algun voluntariado,
      practicas deporte o realizas alguna actividad artistica -cultural que beneficie
      a la sociedad, describelo dentre de las cartas
       </p>
     <h2>
     motivos por los que mereces la beca
   </h2>
   <p>
   aplica tu creatividad para mencionar por que deberias ser beneficiado con la beca

   </p>
    </div>
    <div class="textos3 d">
        <h2 class="tamaÑo">

            ¿2.1 Que debe tener la carta?
            <img src="images/10.png" alt="">
        </h2>
    </div>
</section>
<section class="textos">
    <div class="textos3 j"> 
        <h2 class="tamaÑo">
 ¿2.1 Que debe tener la carta?
 <img class="p" src="images/11.png" alt="">
        </h2>
    </div>
    <div class="textos2 i">
        <h2>
            firma propia
        </h2>
        <p>
        Una vez que terminaste la carta, imprimela y firmala
        </p>
        <h2>
          Escanea tu carta
        </h2>
        <p>
      ten lista tu carta escaneada pòr que necesitaras enviarla
      en el siguiente paso. Revisa que el escaneo sea nitido
      y todo se pueda leer
        </p>
    </div>
  
</section>
<section class="textos">
    <div class="textos2">
        <h2>
Buena ortografia y redaccion
        </h2>
        <p>
         Revisa tu ortografia, la acentuacion y la buena redaccion; si es necesario pide la revision de tu carta
         a alguien que te pueda asesorar. Recuerda, tu redaccion debe ser de tipo formal
        </p>
        <h2>
Maximo 2 cuartillas 
        </h2>
        <p>
Tu carta no puede ser mayor a mas de dos cuartillas de extension, se concreto y creativo
        </p>
        <h2>
Formato

        </h2>
        <p>
·Tipografia: Arial 12
<br><br>
·Interlineado 1.5
<br><br>
*Cuerpo de texto: justificado
        </p>
    </div>
    <div class="textos3">
         <h2 class="tamaÑo">
        2.2 ¿Que aspectos debo cuidar cuando redacte mi carta?
        <img class="p" src="images/13.png" alt="">
    </h2></div>
</section>

<section class="textos">
    <div class="textos3">
    <img class="o" src="images/12.png" alt="">
    </div>
<div class="textos4 d">
    <h2>
        3.Contestar formulario
    </h2>
    <p>
        Como paso final, tendras que llenar el formulario
        y adjuntar en el espacio correspondiente tu
        Kardex y tu carta firmada previamente escaneada
    </p>
</div>
</section>

<section class="textos">
    <div class="textos4 d">
        <h2 class="y">
            3.2 ¿Cuando debo enviar mi formulario?
        </h2>
        <br>
        <p>
            Tienes desde el dia de hoy hasta el 25 de 
            febrero antes de la 01:00 pm. para enviar
            tu formulario.
        </p>
    </div>
   <div class="textos3">
<img class="a" src="images/16.png" alt="">
    </div>
</section>

<section class="textos">
    <div class="textos3">
        <h2 class="tamaÑo">
            3.1 ¿Que me van a preguntar o pedir?
      <img class="w" src="images/15.png" alt="">
   </h2></div>
    <div class="textos2">
        <h2>
Datos personales
        </h2>
        <p>
         En el formulario se te preguntara por tu jombre completo,
          edad, datos familiares, etc.
        </p>
        <h2>
Nombre de la universidad a la que aplicaras
        </h2>
        <p>
Elige la opcion de la universidad a la que aplicaras. Puedes elegir una segunda opcion como plan b en caso de no ganar la primera.

        </p>
        <h2>
Adjuntar Kardex y carta
        </h2>
        <p>
Sube como documento adjunto tu kardex. escanea tu carta firmada y subela en el apartado 
correspondiente. El nombre del archivo debe quedar de la siguiente manera
<br> <br>
Carta Jimenez Lopez Luis
<br>
Kardex Jimenez Lopez Luis
        </p>
    </div>
    
</section>
<section class="textos">
    <div class="textos4 d">
        <h2 class="y">
            4. Espera de los resultados
        </h2>
        <br> 
        <p>
            En el mes de marzo el comite de becas revisa los casos y genera un dictamen, durante este mismo mes se hara entrega de la carta de asignacion de beca en caso de haberla obtenido.

        </p>
    </div>
   <div class="textos3">
<img class="a" src="images/4.png" alt="">
    </div>
</section>

<section class="textos">
     <div class="textos3 r">
<h2>
¿Que debo considerar?
</h2>
    </div>
    <div class="textos4 d">
        
       <h2>
        Promedio
       </h2>
        <p>
            1. Las becas se pueden perder si bajas el promedio
            o te queda un extraordinario durante la carrera
        </p>
        <h2>
            Letra chiquita
        </h2>
        
        <p>
            2. Revisa la letra chiquita de tu universidad
        </p>
        <h2>
            No aceptar
        </h2>
        
        <p>
            3. En caso de no aceptar la beca informar para reasignar
        </p>
    </div>
  
</section>
-->
<div class="color2 ">
    <button  class="sen"> 
        <A href="https://docs.google.com/forms/d/e/1FAIpQLSdsqAgTeaZ5KhkglGinq7_NVxarAin_7u0P-AkBRBVz-dzMwQ/viewform?usp=sf_link">
            
        solicitud de beca
        
        </A>
        
    </button>
</div>

    <Div class="imagen3" id="A">
        <h2 class="alexa">
            Revisa las opciones que tenemos por convenio en cuanto a porcentaje de becas universitarias.

        </h2>
    </Div>
<section>
    <div >
        
    </div>

    
</section>
<%- include('partials/footer') %>


</body>
</html>
